---
http_interactions:
- request:
    method: get
    uri: https://api.scripture.api.bible/v1/bibles/de4e12af7f28f599-01/search?query=Proverbs%2011:1-5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      api-key:
      - "<BIBLE_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"passages":[{"id":"PRO.11.1-PRO.11.5","orgId":"PRO.11.1-PRO.11.5","bibleId":"de4e12af7f28f599-01","bookId":"PRO","chapterIds":["PRO.11"],"reference":"Proverbs
        11:1-5","content":"<p class=\"p\"><span data-number=\"1\" class=\"v\">1</span>A
        false balance <span class=\"add\">is</span> abomination to the <span class=\"nd\">LORD</span>:
        but a just weight <span class=\"add\">is</span> his delight.<span data-number=\"2\"
        class=\"v\">2</span><span class=\"add\">When</span> pride cometh, then cometh
        shame: but with the lowly <span class=\"add\">is</span> wisdom. <span data-number=\"3\"
        class=\"v\">3</span>The integrity of the upright shall guide them: but the
        perverseness of transgressors shall destroy them. <span data-number=\"4\"
        class=\"v\">4</span>Riches profit not in the day of wrath: but righteousness
        delivereth from death.</p><p class=\"p\"><span data-number=\"5\" class=\"v\">5</span>The
        righteousness of the perfect shall direct his way: but the wicked shall fall
        by his own wickedness.</p>","copyright":"PUBLIC DOMAIN except in the United
        Kingdom, where a Crown Copyright applies to printing the KJV. See http://www.cambridge.org/about-us/who-we-are/queens-printers-patent"}]},"meta":{"fums":"<script>\nvar
        _BAPI=_BAPI||{};\nif(typeof(_BAPI.t)===''undefined''){\ndocument.write(''\\x3Cscript
        src=\"''+document.location.protocol+''//cdn.scripture.api.bible/fums/fumsv2.min.js\"\\x3E\\x3C/script\\x3E'');}\ndocument.write(\"\\x3Cscript\\x3E_BAPI.t(''''
        + unique + '''');\\x3C/script\\x3E\");\n</script><noscript><img src=\"https://d3a2okcloueqyx.cloudfront.net/nf1?t=''
        + unique + ''\" height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height:
        0; width: 0;\" /></noscript>","fumsId":"f4b11432-6deb-4dcf-b992-00cb2cd40766","fumsJsInclude":"cdn.scripture.api.bible/fums/fumsv2.min.js","fumsJs":"var
        _BAPI=_BAPI||{};if(typeof(_BAPI.t)!=''undefined''){ _BAPI.t(''f4b11432-6deb-4dcf-b992-00cb2cd40766'');
        }","fumsNoScript":"<img src=\"https://d3btgtzu3ctdwx.cloudfront.net/nf1?t=f4b11432-6deb-4dcf-b992-00cb2cd40766\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        />"}}'
      effective_url: https://api.scripture.api.bible/v1/bibles/de4e12af7f28f599-01/search?query=Proverbs%2011:1-5
  recorded_at: Sat, 16 Feb 2019 10:28:05 GMT
recorded_with: VCR 4.0.0
