---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/cats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      app_key:
      - "<DICTIONARY_KEY_SECRET>"
      app_id:
      - "<DICTIONARY_ID_SECRET>"
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html
      version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>No entry available for 'cats' in 'en'</p>
      effective_url: https://od-api.oxforddictionaries.com:443/api/v1/entries/en/cats
  recorded_at: Sat, 16 Feb 2019 10:49:44 GMT
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/cats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      app_key:
      - "<DICTIONARY_KEY_SECRET>"
      app_id:
      - "<DICTIONARY_ID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "cats",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "cat",
                                    "text": "cat"
                                },
                                {
                                    "id": "cat",
                                    "text": "CAT"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "CATs"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                },
                                {
                                    "text": "Present",
                                    "type": "Tense"
                       [...]
